<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUP Vermietung</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2>SUP Vermietung</h2>
      <button type="button" (click)="getPrognose()" class="btn btn-primary">
        Prognose abrufen
      </button>

      <div class="mb-3 mt-3">
        <label for="prognose" class="form-label">Prognose:</label>
        <input
          id="prognose"
          type="text"
          class="form-control"
          placeholder="Prognose anzeigen"
          [(ngModel)]="prognoseAnzahl"
          readonly
        />
      </div>

      <div class="mb-3 form-check">
        <input
          id="newCustomer"
          type="checkbox"
          class="form-check-input"
          [(ngModel)]="newCustomer"
          (ngModelChange)="setSUPType($event)"
        />
        <label for="newCustomer" class="form-check-label">Neukunde</label>
      </div>
      <form class="mt-3" [formGroup]="rentalForm" (ngSubmit)="onSubmit()">
        <ng-container *ngIf="newCustomer">
          <div class="mb-3">
            <label for="customer" class="form-label">Kunde</label>
            <input
              id="customer"
              type="text"
              class="form-control"
              formControlName="customer"
              placeholder="Name eingeben"
            />
          </div>
          <div class="mb-3">
            <label for="street" class="form-label">Strasse</label>
            <input
              id="street"
              type="text"
              class="form-control"
              formControlName="street"
              placeholder="Strasse eingeben"
            />
          </div>
          <div class="mb-3">
            <label for="plz" class="form-label">PLZ</label>
            <input
              id="plz"
              type="text"
              class="form-control"
              formControlName="plz"
              placeholder="PLZ eingeben"
            />
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">Ort</label>
            <input
              id="city"
              type="text"
              class="form-control"
              formControlName="city"
              placeholder="Ort eingeben"
            />
          </div>
        </ng-container>
        <ng-container *ngIf="!newCustomer">
          <div class="mb-3">
            <label for="customer" class="form-label">Kunde</label>
            <select
              id="customer"
              class="form-select"
              formControlName="customer"
            >
              <option *ngFor="let cus of customerList" [value]="cus">
                {{ cus }}
              </option>
            </select>
          </div>
        </ng-container>
        <div class="mb-3">
          <label for="sup" class="form-label">SUP Typ</label>
          <select id="sup" class="form-select" formControlName="sup">
            <option *ngFor="let sup of supList" [value]="sup">
              {{ sup }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="startTime" class="form-label">Startzeit</label>
          <input
            id="startTime"
            type="datetime-local"
            class="form-control"
            formControlName="startTime"
          />
        </div>
        <div class="mb-3">
          <label for="endTime" class="form-label">Endzeit</label>
          <input
            id="endTime"
            type="datetime-local"
            class="form-control"
            formControlName="endTime"
          />
        </div>
        <div class="mb-3 form-check">
          <input
            id="securityInformed"
            type="checkbox"
            class="form-check-input"
            formControlName="securityInformed"
          />
          <label for="securityInformed" class="form-check-label"
            >Über Sicherheitsauflagen informiert *</label
          >
        </div>
        <div class="mb-3 form-check">
          <input
            id="luggage"
            type="checkbox"
            class="form-check-input"
            formControlName="luggage"
          />
          <label for="luggage" class="form-check-label">Gepäck</label>
        </div>
        <ng-container *ngIf="rentalForm.get('luggage')!.value">
          <div class="mb-3">
            <label for="luggageCount" class="form-label">Gepäck</label>
            <input
              id="luggageCount"
              type="text"
              class="form-control"
              formControlName="luggageCount"
              placeholder="Anzahl Gepäckstücke eingeben"
            />
          </div>
        </ng-container>
        <button
          type="submit"
          [disabled]="!rentalForm.get('securityInformed')!.value"
          class="btn btn-primary"
        >
          Buchung erstellen
        </button>
      </form>
    </div>
  </body>
</html>
